<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WhiskeyPedia</title>
	<link rel="stylesheet" href="styles/css/styles.css">
	<script data-main="scripts/config" src="scripts/vendor/require.js"></script>
    
</head>
<body>
	<span class="bg"></span>

	<div class="content">
		<div id="search-wrapper"></div>
		<div id="cocktails-results"></div>
		<div id="cocktails-content"></div>
	</div>
	
	<div id="overlayRegion"></div>

	
	<script id="input-search" type="text/template">
		<input type="search" placeholder="<%= placeholder %>" id="search">
	</script>

	<script id="each-popular" type="text/template">
		<a class="title" href="javascript:;"></a>
		<h1><%= title %></h1>
		<figure>
			<img src="<%= thumbnail %>" />
		</figure>
		<p><%= abstract %></p>
	</script>

	<script id="error-list" type="text/template">
		<p><%= error %></p>
	</script>

	<script id="success-list" type="text/template">
		<h2>
			<a class="title" data-id="<%= id %>" href="javascript:;">
				<%= title %>
			</a>
		</h2>
	</script>
	
	<script id="overlay" type="text/template">
		<div>
			<div class="overlay-layer"></div>
			<div class="overlay-content">
				<a class="close" href="javascript:;">x</a>
				<h1><%= sections[0].title %></h1>
				<% if(sections[0]){%>
					<div>
						<% _.each( sections[0].content, function( listItem ){ %>
			                <p>
			                    <%- listItem.text %>
			                </p>
			            <% }); %>
		        	</div>
			    <% } %>
			    <% if(sections[1]){%>
			    	<h2><%= sections[1].title %></h2>
			        <ul>
			        	<%= sections[1].content[0].elements %>
			        	<% _.each( sections[1].content[0].elements, function( listItem ){ %>

			        	

			        	<% }); %>
			        </ul>
		        <% } %>
			</div>
		</div>
	</script>
</body>
</html>