<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WhiskeyPedia</title>
	<link rel="stylesheet" href="styles/css/styles.css">
	<script data-main="scripts/config" src="scripts/vendor/require.js"></script>
    
</head>
<body>
	
	<div id="cocktails-content">
		
	</div>

	<div id="results-data"></div>

	<script id="main-template" type="text/template">
	<%= text %>
	<%= href %>
	</script>

	<script id="simple-template" type="text/template">
	<%= text %>
	<%= href %>
	</script>
</body>
</html>